In [3]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
plt.style.use('default')
# This next line tells jupyter to render the images inline
%matplotlib inline
import matplotlib_inline
# This renders your figures as vector graphics AND gives you an option to download a Pindices too
matplotlib_inline.backend_inline.set_matplotlib_formats('svg', 'pdf')

# Exercise: Visualizing Stock Indices

We're loading three stock indices here; the Nasdaq, the SP 500, the Dow Jones. We're also setting it up correclty with date time.

In [4]:
indices = pd.read_csv('indices.csv')
indices.info()
indices["Date"] = indices["Date"].astype("datetime64")
indices.set_index('Date', inplace=True)
indices

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946 entries, 0 to 945
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       946 non-null    object
 1   Nasdaq     946 non-null    float64
 2   SP 500     946 non-null    float64
 3   Dow Jones  945 non-null    float64
dtypes: float64(3), object(1)
memory usage: 29.7+ KB

                       Nasdaq   SP 500  Dow Jones
Date
2019-12-02 16:00:00   8567.99  3113.87   27783.04
2019-12-03 16:00:00   8520.64  3093.20   27502.81
2019-12-04 16:00:00   8566.67  3112.76   27649.78
2019-12-05 16:00:00   8570.70  3117.43   27677.79
2019-12-06 16:00:00   8656.53  3145.91   28015.06
...                       ...      ...        ...
2023-08-29 16:00:00  13943.76  4497.63   34890.24
2023-08-30 16:00:00  14019.31  4514.87   34721.91
2023-08-31 16:00:00  14034.97  4507.66   34837.71
2023-09-01 16:00:00  14031.82  4515.77   34641.97
2023-09-05 16:00:00  14020.95  4496.83        NaN

[946 rows x 3 columns]

## Task 1: Plot the stock of all three indices in one plpt

Do you see any problems with this representation?

## Task 2: Plot The inidices in three sub-plots below each other

Is that easy to compare?

## Task 3: Plotting Change
 
Create a derived dataset that contains the change relative to the first day in your dataset and plot this in one plot.