# Applied Data Visaulization Lecture 2: Jupyter Notebooks, Python Data Wrangling


Welcome to your first Jupyter notebook! This will be our main working environment for this class.

# Jupyter Notebooks Basics

First, let's get familiar with Jupyter Notebooks. 

Notebooks are made up of "cells" that can contain text or code. Notebooks also show you output of the code right below a code cell. These words are written in a text cell using a simple formatting dialect called [markdown](https://jupyterlab.readthedocs.io/en/latest/user/notebook.html). 

Double click on this cell text or press enter while the cell is selected to see how it is formatted and change it. We can make words *italic* or **bold** or add [links](https://www.dataviscourse.net/2023-applied/) or include pictures:

![Data science cat](datasciencecat.jpg)

The content of the notebook, as you edit in your browser, is written an `.ipynb` file. 

If you want to read up on Notebooks in details check out the [excellent documentation](https://jupyterlab.readthedocs.io/en/latest/index.html).

## Notebook Editors

Jupyter Notebooks can be edited and run in a number of ways. The easiest way is Jupyter Labs, a development environment explicitly made for notebooks. You can run labs using this command: 

```bash
$ jupyter-lab
```

You then edit your notebook in the browser. 

The alternative we're using because of co-pilot support is to install **Visual Studio code**, the notebook extensions, and then edit there (see Homework 0).


An alternative to native Jupyter Notebooks are cloud-hosted [google colab](https://colab.research.google.com/) notebooks; basically a cloud-based notebook solution that can read notebook files. Because it's cloud based, things like reading from files is different. For this class you should have the notbeooks installed locally, but google colab is a good alternative if you need to collaborate.

## Writing Code

The most interesting aspect of notebooks, however, is that we can write code in the cells. You can use [many different programming languages](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels) in Jupyter notebooks, but we'll stick to Python. So, let's try it out:

In [1]:
print ("Hello World!")
a = 3
# the return value of the last line of a cell is the output
a

Hello World!

3

Notice that the output here is directly written into the notebook. 

You can change something in a cell and re-run it using the "run cell" button, or use the `CTRL+ENTER` (execute and remain in cell) or `SHIFT+ENTER` (execute and move to next cell) shortcut.

Another cool thing about cells is that they preserve the state of what happened before. Let's initialize a couple of variables in the next cell:

In [2]:
age = 2
gender = "female"
name = "Datascience Cat"
smart = True

These variables are now available to all cell below or above **if you executed the cell**. In practice, you should never rely on a variable from a lower cell in an earlier cell. **This behavior is different from if you were to execute the cells as a python file.**

If you make a change to a cell, you need to execute it again. You can also batch-executed multiple cells from the toolbar. 

Let's do something with the variables we just defined:

In [3]:
print (name + ", age: " + str(age) + ", " + 
       gender + ", is smart: " + str(smart))

Datascience Cat, age: 2, female, is smart: True

In the previous cell, we've [concatenated a couple of strings](https://docs.python.org/3.5/tutorial/introduction.html#strings) to produce one longer string using the `+` operator. Also, we had to call the `str()` function to get [string representations of these variables](https://docs.python.org/3.5/library/stdtypes.html#str).

We'll learn better ways to do this a bit later.

## Modes

Notebooks have two modes, a **command mode** and **edit mode**. These modes are shown differently in different notebook environments; in jupytper labs: 
 * **green** means edit mode, 
 * **blue** means command mode. 
 
Many operations depend on your mode. For code cells, you can switch into edit mode with "Enter", and get out of it with "Escape".



## Shortucts

While you can always use the tool-bar above, you'll be much more efficient if you use a couple of shortcuts. The most important ones are:

**`Ctrl+Enter`** runs the current cell.  
**`Shift+Enter`** runs the current cell and jumps to the next cell.   
**`Alt+Enter`** runs the cell and adds a new one below it.

In command mode:

**`h`** shows a help menu with all these commands (doesn't work in visual studio).  
**`a`** adds a cell before the current cell.  
**`b`** adds a cell after the current cell.  
**`dd`** deletes a cell.  
**`m`** as in **m**arkdown, switches a cell to markdown mode.  
**`y`** as in p**y**thon switches a cell to code.

## Kernels

When you [run code](http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/Running%20Code.html), the code is actually executed in a **kernel**. You can do bad things to a kernel: you can make it stuck in an endless loop, crash it, corrupt it, etc. And you probably will do all of these things :). 

So sometimes you might have to interrupt your kernel or restart it. 

Also, before submitting a homework or a project, make sure to `Restart` and `Run All`. This will create a clean run of your project, without any side effects that you might encounter during development. We want you to submit the homeworks **with output**, and by doing that you will make sure that we actually can also execute your code properly.


## Storing Output

Notebooks contain both, the input to a computation and the outputs. If you run a notebook, all the outputs generated by the code cells are also stored in the notebook. That way, you can look at notebooks also in non-interactive environments, like on [GitHub for this notebook](https://github.com/dataviscourse/2023-applied-vis-homeworks/blob/main/HW0/notebook-demo.ipynb). 

The Notebook itself is stored in a rather ugly format containing the text, code, and the output. This can sometimes be challenging when working with version control.

# Python Basics

## Functions

In math, functions transfrom an input to an output as defined by the property of the function. 

You probably remember functions defined like this

$f(x) = x^2 + 3$

In programming, functions can do exactly this, but are also used to execute “subroutines”, i.e., to execute pieces of code in various order and under various conditions. Functions in programming are very important for structuring and modularizing code. 

In computer science, functions are also called “procedures” and “methods” (there are subtle distinctions, but nothing we need to worry about at this time). 

The following Python function, for example, provides the output of the above defined function for every valid input:

In [4]:
def f(x):
    result = x ** 2 + 3 
    return result

We can now run this function with multiple input values:

In [5]:
print(f(2))
print(f(3))
f(5)

7
12

28

Let's take a look at this function. The first line
```python
def f(x):
```
defines the function of name `f` using the `def` keyword. The name we use (`f` here) is largely arbitrary, but following good software engineering practices it should be something meaningful. So instead of `f`, **`square_plus_three` would be a better function name in this case**.  

After the function name follows a list of parameters, in parantheses. In this case we define that the function takes only one parameter, `x`, but we could also define multiple parameters like this:
```python 
def f(x, y, z):
```

The parameters are then available as local variables within the function.

The second line does the actual computation and assigns it to a **local variable** called `result`. 

The third line uses the `return` keyword to return the result variable. Functions can have a return value that we can assign to a variable. For example, here we could write: 

```python
my_result = f(10)
``` 

Which would assign the return value of the function to the variable `my_result`.

Note that the lines of code that belong to a function are **intended by four spaces** (you can hit tab to intend, but it will be converted to four spaces). Python defines the scope of a function using intendation. Many other programming languages use curly brackets `{}` to do this. 

A function is ended by a new line.

For example, the same function wouldn't work like this:

In [6]:
def f(x):
    result = x ** 2 + 3
# Throws a NameError becauser result isn't defined outside the function
return result

SyntaxError: 'return' outside function (562016350.py, line 4)

## Lists

Now we'll take a look at a compound data type: [lists](https://docs.python.org/3/tutorial/introduction.html#lists).

**A list is a collection of items.** Another word commonly used for a list in other programming languages is an **array** (though there are differences between lists and arrays in many languages). 

**Lists are created with square brackets `[]` and can be accessed via an index:**

In [7]:
beatles = ["0-Paul", "1-John", "2-George", "3-Ringo"]
# printing the whole array
print(beatles)
# printing the first element of that array, at index 0
print(beatles[0])
# third element, at index 2
print(beatles[2])
# access the last element
print(beatles[-1])
# access the one-but-last element
print(beatles[-2])

['0-Paul', '1-John', '2-George', '3-Ringo']
0-Paul
2-George
3-Ringo
2-George

If we try to address an index outside of the range of an array, we get an error:

In [8]:
beatles[4]

IndexError: list index out of range

Sometimes, it makes sense to pre-initialize an array of a certain size:

In [9]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

There is also a handy shortcut for quickly initializing lists. This uses the [range()](https://docs.python.org/3/library/functions.html#func-range) function.

We can also create **slices of an array with the slice operator `:`**

```python
a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
```

There is also the step value, which can be used with any of the above:

```python
a[start:end:step] # start through not past end, by step
```

See [this post](http://stackoverflow.com/questions/509211/explain-pythons-slice-notation) for a good explanation on slicing.

In [10]:
# Get the slice from 0 (included) to 2 (excluded)
beatles[:2] # this can also be written as [0:2]

['0-Paul', '1-John']

In [11]:
# Sclice from index 2 (3rd element) to end
beatles[2:]

['2-George', '3-Ringo']

In [12]:
# A copy of the array 
beatles[:]

['0-Paul', '1-John', '2-George', '3-Ringo']

The slice operations return a new array, the original array is untouched:

In [13]:
beatles

['0-Paul', '1-John', '2-George', '3-Ringo']

Slicing outside of a defined range returns an empty list:

In [14]:
beatles[4:9]

[]

Lists (in contrast to strings) are mutable. 

That means **we can change the elements that are contained in a list**:

In [16]:
beatles[1] = "1-JohnYoko"
beatles

['0-Paul', '1-JohnYoko', '2-George', '3-Ringo']

Arrays can also be **extended with the `append()` function**:

In [18]:
beatles.append("4-George Martin")
beatles

['0-Paul', '1-JohnYoko', '2-George', '3-Ringo', '4-George Martin']

Lists can be **concatenated**:

In [19]:
zeppelin = ["Jimmy", "Robert", "John", "John"]
supergroup = beatles + zeppelin
supergroup

['0-Paul',
 '1-JohnYoko',
 '2-George',
 '3-Ringo',
 '4-George Martin',
 'Jimmy',
 'Robert',
 'John',
 'John']

We can **check the length** of a list using the built-in [`len()`](https://docs.python.org/3.3/library/functions.html#len) function:

In [20]:
len(zeppelin)

4

Lists can also be **nested**:

In [21]:
bands = [beatles, zeppelin]
bands

[['0-Paul', '1-JohnYoko', '2-George', '3-Ringo', '4-George Martin'],
 ['Jimmy', 'Robert', 'John', 'John']]

In fact, lists can be of hybrid data types, which, however, is something that you typically don't want to and shouldn't do:

In [22]:
bad_bands = bands + [1, 0.3, 17, "This is bad"]
# this list contains lists, integers, floats and strings
bad_bands

[['0-Paul', '1-JohnYoko', '2-George', '3-Ringo', '4-George Martin'],
 ['Jimmy', 'Robert', 'John', 'John'],
 1,
 0.3,
 17,
 'This is bad']

## Strings

Strings can be treated similar to arrays with respect to indexing and slicing:

In [23]:
paul = "Paul McCartney"
paul[0:4]

'Paul'

Python has very sophisticaed [methods for string manipulation](https://docs.python.org/3/library/string.html).

In [24]:
# split based on a string; the return is a tuple
firstname, lastname = paul.split(" ")
firstname, lastname

('Paul', 'McCartney')

In [25]:
# make lowercase
lastname.lower()

'mccartney'

In [26]:
# remove whitespaces from the beginning and end
"  What's UP here   ".strip()

"What's UP here"

In [27]:
# count occurences of a substring
"lalalala".count("la")

4

More sophisticated searching/matching can be done with [regular expressions](https://docs.python.org/3/howto/regex.html).

Strings can be assembled from different parts using various methods. The simplest one is the `+` operator.

In [29]:
"Paul " + "McCartney"

'Paul McCartney'

Or you can use string formatting:

In [30]:
"The first name of the artist is {firstname}, the second is {lastname}".format(firstname=firstname, lastname=lastname)

'The first name of the artist is Paul, the second is McCartney'

Or f-Strings:

In [31]:
f"The first name of the artist is {firstname}, the second is {lastname}"

'The first name of the artist is Paul, the second is McCartney'

And obviously, we can do all the things we've learned about to this column/series.

The previous example used columns to create the data frame. We can also create a data frame from rows. This doesn't make a ton of sense in this example, but data could be available like this from your data source, like if you're parsing a CSV.

In [ ]:
bandInfo2 = pd.DataFrame([
        {"Name":"Led Zeppelin", "No Albums":9, "No Members":4},
        {"Name":"The Beatles", "No Albums":12, "No Members":4},
        {"Name":"Rolling Stones", "No Albums":29, "No Members":4},
        {"Name":"Radiohead", "No Albums":9, "No Members":5},
    ])
bandInfo2

While a series has only one axis, a dataframe has two, one for the rows (the index or '0' axis), one for the columns (the column or '1' axis). We can check out these axes:

In [ ]:
bandInfo.axes

We can access these axes directly:

In [ ]:
# The row axis
bandInfo.axes[0]

In [ ]:
# The columns axis
bandInfo.axes[1]

We can check out the dimensions of the data frame:

In [ ]:
hit_albums.shape

Here we learn that our dataset has 77 rows and 6 columns.

We can also get more info about the dataset using the info method, which is especially helpful to see the data types of the columns:

In [ ]:
hit_albums.info()

As for series, we can get a rough description of the numerical values of the dataset.

In [ ]:
hit_albums.describe()

We don't see any descriptions of the columns of non-numerical type. We can, however, get a summary by directly accessing a column:

In [ ]:
hit_albums["Artist"].describe()

Here we can see that Michael Jackson is the top artist in this list, with five albums. Are there other artists with multiple albums in the list? We can answer that question with the value_counts() method:

In [ ]:
hit_albums["Artist"].value_counts()

We can look at whether the numerical columns in our data frame are correlated using the [`corr()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html) method. By default, this calculates a Pearson correlation between the column, excluding NaN values. Not surprisingly, we see a rather strong correlation (0.81) between certified and claimed sales.

In [ ]:
hit_albums.corr()

We can also do transpose a dataframe:

In [ ]:
hit_albums.T

### Slicing Data Frames

A common task is to create subsets of a dataframe. Check out the official [user guide for more info on this](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).  

Column access/slicing works by directly using brackets `[]` on the data frame. Row access/slicing works by using the `.loc[]` indexer. 

We can explicitly define the the **column(s)** we want by their lables:

In [ ]:
# a single column
hit_albums["Artist"].head()

We can use an array of lables if we want multiple columns.

In [ ]:
# specifying multiple columns in an array
hit_albums = hit_albums[["Artist","Certified sales (millions)", "Claimed sales (millions)"]]
hit_albums.head()

Slicing of columns requires the `iloc` operator

This: 
```python
hit_albums["Artist":"Genre"]
```
Doesn't work.

One break with the convention that rows have to be accessed via `loc` or `iloc` is simple numerical slicing. The documentation claims that's for convenience, since this is so common:

In [ ]:
hit_albums[:3]

Using these access methods we can also update the order:

In [ ]:
hit_albums[["Certified sales (millions)", "Claimed sales (millions)", "Artist"]].head()

We can set a column to be the index:

In [ ]:
hit_albums_reindexed = hit_albums.set_index("Artist")
hit_albums_reindexed.head()

#### Slicing with `loc`

We can retrieve **rows** and columns using the `loc` indexer by name. Depending on whether the label is unique or not, we get either a series or a data frame. 

Generally, `loc` is preferred over direct access via brackets. 

The general syntax is

```
df.loc[rows, columnns]
```
Here rows, columns can be explicit labels, lists of labels, or slicing operators. 

Here's a simple example:

In [ ]:
hit_albums_reindexed.loc["Meat Loaf"]

And an example with multiple keys that returns a data frame:

In [ ]:
hit_albums_reindexed.loc["Michael Jackson"]

The second argument in the `loc` array can be used to access columns

In [ ]:
hit_albums_reindexed.loc["Michael Jackson", "Certified sales (millions)"]

Here is an example with a list of row labels.

In [ ]:
hit_albums_reindexed.loc[["Michael Jackson", "Meat Loaf"], "Certified sales (millions)"]

We can use slice operations. Remember, that slicing by label (`loc`) includes the last value, by index (`iloc`) does not. 


Note that this doesn't work if we use labels that have duplicates as indexers.

In [ ]:
hit_albums_reindexed.loc["Green Day":"Supertramp"]

# this wouldn't work
# hit_albums_reindexed.loc["Green Day":"Michael Jackson"]

This can also be combined with slicing columns:

In [ ]:
hit_albums_reindexed.loc["Green Day":"Supertramp", ["Certified sales (millions)"]]

We can also slice columns with loc. Let's re-load the full dataset first:

In [ ]:
full_hit_albums = pd.read_csv("hit_albums.csv")
full_hit_albums.head()

This creates a slice containing all rows and the columns from Artist to Released:

In [ ]:
full_hit_albums.loc[:,"Artist":"Released"]

Here's a slice for the first 10 rows and columns Artists to Released:

In [ ]:
full_hit_albums.loc[:10,"Artist":"Released"]

Here is the same thing using `iloc`, i.e., index based slicing:

In [ ]:
full_hit_albums.iloc[0:10, 0:3]

### Broadcasting

Of course, we can use broadcasting and filtering based on boolean masks just as we do for series.

Here we boradcast an operation on a series and set it to a new column.

In [ ]:
full_hit_albums["Certified sales"] =  full_hit_albums["Certified sales (millions)"] * 1000000
full_hit_albums.head()

Here we filter out all of the albums that were released before 1990.

In [ ]:
mask = full_hit_albums["Released"] > 1990
mask.head()

In [ ]:
full_hit_albums.loc[mask].head()

Or, short:

In [ ]:
full_hit_albums.loc[full_hit_albums["Released"] > 2000]

### Grouping Data Frames

Very often, we want to aggregate data. Given the hit-albums dataset, for example, we might want to ask how many albums each artist in that list has sold in total. We can do these aggregations using the [group-by method](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html). 

But first, let's take care of some NAN values by running [`fillna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) on it. We use forward fill along the columns, so that the certified sales are filled into the claimed sales if necessary.

In [ ]:
hit_albums = hit_albums.fillna(axis=1, method='ffill')
hit_albums

We can specify a column to group by, for example, "Artist". We can look at the groups created:

In [ ]:
grouped = hit_albums.groupby("Artist")
grouped.groups

Note that the keys map to a set of indices. For example, Michael Jackson's albums are found at indices [0, 10, 16, 65, 66].

Once we have created these groups, we can specify what to do with it.

Pandas has a couple of built in functions to make this easy. For example, we can just call `sum()`:

In [ ]:
grouped.sum().head(10)

We can see here that we've summed up the data for each column. However, note that NaN plus some number is still NaN, which is treated as 0 here. So let's work with a slice of the dataframe instead.

Now we sort them, and have a nice result:

In [ ]:
grouped.sum().sort_values("Certified sales (millions)", ascending=False).head()

An alternative is the `count` method.

In [ ]:
grouped.count().sort_values("Certified sales (millions)", ascending=False).head(10)

 A very generic solution is the `agg()` function, which we can pass a function to do things with the data:

In [ ]:
#here we pass the sum function, which calcualtes the sum of a list, to the group
grouped.agg(sum).head()

We can also pass in numpy functions.

In [ ]:
import numpy as np
grouped.agg(np.std).sort_values("Certified sales (millions)", ascending=False).head(20)

Here is an aggregation with an in-line function definition where we still create the sum, but also multiply by a million. We use a [lambda expression](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions) to define the function:

In [ ]:
grouped.agg(lambda rows : sum([cell * 1000000 for cell in rows])).head(10)

Lambda expressions are just a different way of defining a function in line, without assigning it a name. They only work for a single statement. 

Here is a simple lambda expression, which returns a function, which we assign to the variable add:

In [ ]:
add = lambda a, b : a+b

In [ ]:
add(2, 3)

So, let's take this apart: 

```python
[cell * 1000000 for cell in rows]
```

This part is a list comprehension, that takes an array `rows` and multiplies every element with 1,000,000. 

The surrounding `sum` is a call to the sum function, so adds up the values in the just modified array. 

And finally, the lambda expression packs all of this in a function. 

Here is a different, longer way to write this:

In [ ]:
def sumUpAndMultiplyByMillion(rows):
    multiplied_rows = [cell * 1000000 for cell in rows]
    summed_value = sum(multiplied_rows)
    return summed_value

grouped.agg(sumUpAndMultiplyByMillion).head(10)

### Exercise 2: Data Frames

* Calculate the mean certified sales for all albums.
* Create a new dataframe that only contains albums with more than 20 million certified sales.
* Create a new dataframe based on the hit_albums dataset that only contains the artists that have at least two albums in the list.
* Create a new dataframe that contains the aggregates sum of all certified sales for each year.

## Buit-in Plotting

Dataframes have built-in plotting capabilities based on the [matplotlib](http://matplotlib.org/) library. We'll see more about plotting later - here we'll only use the buit-in capabilities of pandas. 

First, we have to import the matplotlib library, and tell Jupyter to display the images directly here:

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
# This next line tells jupyter to render the images inline
%matplotlib inline

Then we can simply call the plot attribute:

In [ ]:
hit_albums.plot()

We can also selected certain columns using labelled indexes and then plot.

In [ ]:
hit_albums["Certified sales (millions)"].plot()

We can also use bar-charts instead of line-charts:

In [ ]:
hit_albums[["Certified sales (millions)", "Claimed sales (millions)"]].plot(kind="bar")

The default is a line chart. This doesn't make much sense, since it's mixing index of the row with sales. We're better off plotting only the two different sales figures.

A better way to compare certified and claimed sales is a scatterplot:

In [ ]:
# this is currently broken due to a pandas bug. 
# hit_albums.plot.scatter(x="Certified sales (millions)", y="Claimed sales (millions)")

Or a histogram:

In [ ]:
hit_albums.plot.hist(bins=12, alpha=0.5)

We'll do more sophisticated plotting next time!

## NumPy Lists

We will frequently use [NumPy](https://numpy.org/) arrays instead of regular Python lists. NumPy provides data structures and operations that are suitable, especially with regards to performance, for scientific computing.

Here's a simple NumPy array. We can do slicing etc just like on regular arrays.

In [ ]:
import numpy as np

my_array = np.array([1,2,3,4,5])

print(my_array[1])
print(my_array[-1])
print(my_array[1:3])
# Notice that the data type is different from a regular python data type
print(my_array.dtype.name)

NumPy arrays have a lot of additional functionality, which we will introduce as needed. One significant difference to regular arrays is that an array has to be of a single data type.

In [ ]:
# trying to set up a hybrid array; that would be OK in python lists. 
my_hybrid_array = np.array([1,"test",3,4,5])

# We see that the elements are up-casted to the most inclusive data type, a string.
print(my_hybrid_array)
print(type(my_hybrid_array[-1]))
print(my_hybrid_array.dtype.name)

## List Comprehension

[List comprehension](https://docs.python.org/3.5/tutorial/datastructures.html#list-comprehensions) is a very "pythonic" method for manipulating data. List comprehension can be used to initialize and transform arrays.

In [ ]:
# _ is customary for a variable name if you don't need it
[0 for _ in range(10)]

In [ ]:
["John" for _ in range(10)]

In [ ]:
# we can also make  use of values we iterate over
[i for i in range(10)]

We can, for example, use functions in place of a variable. Here we initialize an array of random numbers in the unit interval:

In [ ]:
import random
rands = [random.random() for _ in range(10)]
rands

You can also use list comprehension to create a list based on another list:

In [ ]:
[x*10 for x in rands]

In [ ]:
# Your code

Lists can be **concatenated**:

In [ ]:
zeppelin = ["Jimmy", "Robert", "John", "John"]
beatles += zeppelin
beatles

We can **check the length** of a list:

In [ ]:
len(zeppelin)

Lists can also be **nested**:

In [ ]:
# let's reset the beatles first
beatles = ["Paul", "John", "George", "Ringo"]
bands = [beatles, zeppelin]
bands

## Working with Modules

Modules are used, ugh, to modularize code. You can write a module by simply creating a `.py` file. We won't be writing many modules ourselves, but we will use them extensively.

To import a module simply write

```python
import module_name
```

You can then use functions defined in the module with the `.` notation. Here's an example:

In [ ]:
import math
math.sqrt(9)

We can also use the `from` notation to import specific functions from a package and add them directly to the namespace:

In [ ]:
from math import log10
# notice that this is NOT accessed via math.log10()
log10(3)

You can also bulk-import all functions of a module into your local namespace, however, this is **strongly discouraged**, as it can lead to name-clashes and makes your code unreadable eventually.

In [ ]:
from math import * 
log2(3)

Finally, we can redefine the name of a module. This is useful to define a shorthand for long library names.

In [ ]:
import math as m 
m.sqrt(13)

# The Pandas Library: Series

Pandas is a popular library for manipulating vectors, tables, and time series. We will frequently use Pandas data structures instead of the built-in python data structures, as they provide much richer functionality. Also, Pandas is **fast**, which makes working with large datasets easier.  Check out the official pandas website at [http://pandas.pydata.org/](http://pandas.pydata.org/).

This tutorial is partially based on the [excellent book by Matt Harrison](https://www.amazon.com/Learning-Pandas-Library-Analysis-Visualization-ebook/dp/B01GIE03GW/).

When you work with Pandas, it's handy to have a [cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) lying around. 

Pandas provides three data structures: 

 * the **series**, which represents a single column of data similar to a python list
 * the **data frame**, which represents multiple series of data
 * the **panel**, which represents multiple data frames
 
We'll mostly work with series and data frames and largely ignore panels. Today we will stick to series. 

Pandas should already be part of your anaconda installation. If not, simply run:

```
$ conda install pandas
```

To make pandas available, we'll import the module into this notebook. It is customary to import pandas as `pd`:

In [ ]:
import pandas as pd

Series are the most fundamental data structure in pandas. Let's create two simple series based on an arrays:

In [ ]:

bands = pd.Series(["Stones", "Beatles", "Zeppelin", "Pink Floyd"])
bands

In [ ]:
founded = pd.Series([1962, 1960, 1968, 1965])
founded

When we output these objects we can see an index, also called an axis, which by default is an integer sequence starting at 0, and the associated values. 

| Index | Value | 
| - | - |
| 0  |        Stones
|1   |    Beatles
|2  |    Zeppelin
|3 |    Pink Floyd

Pandas also tells us the data type of the values, `object` for the first series – in this case, this is a string, `int64` (a 64-bit integer) for the second.

Notice that `int64` is not a Python datatype, but a C integer of 64 bit length – which, unlike Python integers – can overflow!

We can also use other data types as indices, in which case the series behaves a lot like a dictionary:

In [ ]:
# the data is the first parameter, the index is given by the index keyword
bands_founded = pd.Series([1962, 1960, 1968, 1965, 2012],
                          index=["Stones", "Beatles", "Zeppelin", "Pink Floyd", "Pink Floyd"], 
                          name="Bands founded")
bands_founded

| Index | Value | 
| - | - |
| Stones     |    1962
| Beatles    |    1960
| Zeppelin     |  1968
| Pink Floyd |    1965
| Pink Floyd |    2012

Here we see something interesting: We've used the same index (Pink Floyd) twice, once for the original founding of the band, and once for the re-union starting in 2012. Also, the order of the entries is preserved. 

A series is both, a list and a dictionary!

We can access the values of an array by printing the member `values`.

In [ ]:
bands.values

And we can look at how the index is composed:

In [ ]:
bands.index

What we see here is that this isn't an explicit list, but rather a set of rules, similar to the ranges we've already worked with. 

Let's compare this to the index where we used explicit labels:

In [ ]:
bands_founded.index

We can access individual entries as we'd access an array or a dictionary:

In [ ]:
bands[0]

In [ ]:
bands_founded["Beatles"]

There is also a method for looking up a value:

In [ ]:
bands_founded.get("Stones")

Note that these access methods are as fast as a dictionary lookup, and much faster than a lookup in a list.

That works also with arrays of labels, in which case the return type is a series, not a single value.

In [ ]:
bands_founded.get(["Stones", "Beatles"])

Notice that when we access data with multiple indices, we don't get a simple datatype, as in the above cases, but instead get another series back:

In [ ]:
bands_founded["Pink Floyd"]

Series also have indexers for label-based access: [`loc`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

In [ ]:
# And one more way for looking up a value:
bands_founded.loc["Stones"]
# this is equivalent to 
# bands_founded["Stones"]

Related to the `loc` indexer is the [`iloc`](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.iloc.html) indexer. However, instead of operating on our label index, `iloc` operates purely on position:

In [ ]:
bands_founded.iloc[1]

There is also an `ix` indexer, which is deprecated and should not be used.

These ways of accessing slices of a dataset (`loc`, `iloc`), will make more sense when we use dataframes instead of series – in dataframes, `loc` and `iloc` operate on the rows, whereas square brackets operate on the columns.

### Iterating

Iteration works as you would expect:

In [ ]:
for band in bands:
    print(band)

In [ ]:
for band, founded in bands_founded.items():
    print(band + ", " + str(founded))

### Updating
Updating works largely as expected, however, you have to be careful when updating series with duplicate indices:

In [ ]:
bands[2] = "The Doors"
bands

We can add a new item by direclty assigning it to a new index.

In [ ]:
bands[4] = "Zeppelin"
bands

Note that the indices don't have to be sequential.

In [ ]:
bands[17] = "The Who"
bands

When we update based on an index that occurs more than once, all instances are updated:

In [ ]:
bands_founded["Pink Floyd"] = 2015
bands_founded

A way to update a specific entry when an index is used multiple time is to use the `iloc` indexer. We can use the `iloc` array to set values based purely on position. However, all of this is rather ugly.

In [ ]:
bands_founded.iloc[3] = 1965
bands_founded

### Deleting 

Deleting is rarely done with pandas data structures, instead filters and masks are used. It's possible based on indices:

In [ ]:
del bands_founded["Stones"]
bands_founded

### Indexing and slicing

Indexing and slicing works largely like in normal python, but instead of just directly using the bracket notations, it is recommended to use `iloc` for indexing by position and `loc` for indexing by labelled indices.

In [ ]:
# slicing by position
bands_founded.iloc[1:3]

When slicing by labelled index, the last value specified is *included*, which differs from regular Python slicing behavior.

In [ ]:
# slicing by index
bands_founded.loc["Zeppelin" : "Pink Floyd"]

In [ ]:
# Note that index 17 is included
bands.loc[1:17]

Again, for series (not for data frames), `loc` and just using bracket notation is identical:

In [ ]:
bands[2:17]

Both, `iloc` and `loc` can be used with arrays, which isn't possible in vanilla Python:

In [ ]:
bands_founded.iloc[[0,3]]

In [ ]:
bands_founded.loc[["Beatles", "Pink Floyd"]]

And, all these variants can also be used with boolean arrays, which we will soon find out to be very helpful:

In [ ]:
bands_founded

In [ ]:
bands_founded.loc[[True, False, False, True]]

### Masking and Filtering

With pandas we can create boolean arrays that we can use to mask and filter a dataset. In the following expression, we'll create a new array that has "True" for every band formed after 1964:

In [ ]:
mask = bands_founded > 1964
mask

This uses a technique called **broadcasting**. We can use broadcasting with various operations:

In [ ]:
# Not particularly useful for this dataset..
founding_months = bands_founded * 12
founding_months

We can use a boolean mask to filter a series, as we've seen before:

In [ ]:
# applying the mask to the original array
# note that almost all of those operations return a new copy and don't modify in place
bands_founded[mask]

The short form here would be:

In [ ]:
bands_founded[bands_founded > 1967]

## Exploring a Series

There are various way we can explore a series. We can count the number of non-null values:

In [ ]:
numbers = pd.Series([1962, 1960, 1968, 1965, 2012, None, 2016])
numbers.count()

In [ ]:
numbers

We can get the sum, mean, median of a series:

In [ ]:
numbers.sum()

In [ ]:
numbers.mean()

In [ ]:
numbers.median()

We can also get an overview of the statistical properties of a series:

In [ ]:
numbers.describe()

Note that None/NaN values are ignored here. We can drop all NaN values if we desire:

In [ ]:
numbers = numbers.dropna()
numbers

This works also for non-numerical data. Of course, we get different measures:

In [ ]:
bands.describe()

Other useful methods are asking for a specific quantile, the minimum, the maximum, etc.

In [ ]:
numbers.quantile(0.25)

In [ ]:
numbers.max()

In [ ]:
numbers.min()

## Sorting 

We can sort a series:

In [ ]:
numbers.sort_values()

And make the sorting descending:

In [ ]:
sorted_numbers = numbers.sort_values(ascending=False)
sorted_numbers

Note that the indices remain the same! We can **reset the indices**:

In [ ]:
# If we don't specify drop to be true, the previous indices are preserved in a separte column
sorted_numbers = sorted_numbers.reset_index(drop=True)
sorted_numbers

We can also sort by the index:

In [ ]:
# mix up the indices first
new_sorted_numbers = numbers.sort_values()
print(new_sorted_numbers)
new_sorted_numbers.sort_index()

## Applying a Function

Often, we will want to apply a function to all values of a Series. We can do that with the [`map()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html) function:

In [ ]:
import datetime

# Convert an integer year into a date, assuming Jan 1 as day and month.
def to_date(year):
    return datetime.date(int(year), 1, 1)
    
new_sorted_numbers.map(to_date)

This is an incredibly powerful concept that you can use to modify series in sophisticated ways, similar to list comprehension. 

Another way to use the map function is to pass in a dictionary that is then applied to matching objects:

In [ ]:
new_sorted_numbers.map({1965:1945, 2012:1999, 1968:"What"})

### Exercise: Pandas Series

Create a new pandas series with the lists given below that contain NFL team names and the number of Super Bowl titles they won. Use the names as indices, the wins as the data.

 * Once the list is created, sort the series alphabetically by index. 
 * Print an overview of the statistical properties of the series. What's the mean number of wins?
 * Filter out all teams that have won less than four Super Bowl titles
 * A football team has 45 players. Update the series so that instead of the number of titles, it reflects the number of Super Bowl rings given to the players. 
 * Assume that each ring costs USD 30,000. Update the series so that it contains a string of the dollar amount including the \$ sign. For the Steelers, for example, this would correspond to: 
 ```
 Pittsburgh Steelers             $ 8100000
 ```

In [ ]:
teams = ["New England Patriots",
         "Pittsburgh Steelers",
         "Dallas Cowboys",
         "San Francisco 49ers",
         "Green Bay Packers",
         "New York Giants",
         "Denver Broncos",
         "Oakland/Los Angeles Raiders",
         "Washington Redskins",
         "Miami Dolphins",
         "Baltimore/Indianapolis Colts",
         "Baltimore Ravens"]
wins = [6,6,5,5,4,4,3,3,3,2,2,2]

In [ ]:
# Your code

# Data Frames

Before we look at dataframes, let's just load some data from a file.

In [ ]:
hit_albums = pd.read_csv("hit_albums.csv")
hit_albums

Pandas provides the insanely powerful ['read_csv()'](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) method. Also see [the documentation](http://pandas.pydata.org/pandas-docs/stable/io.html) for more info on all I/O operations in pandas, including writing CSV files. 

You can pass a lot of arguments to the method, such as delimiter, quote-chars, etc., but for our case the default parameters just worked. 

We've also just created our first data frame! Let's look at data frames in detail next.

A data frame is a column-oriented data structure where each column is a pandas series.

Here is a great [cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) for pandas functions. 

We've already loaded a data frame from file, but for completeness sake, let's create one in code:

In [ ]:
bandInfo = pd.DataFrame({
        "Name":["Led Zeppelin", "The Beatles", "Rolling Stones", "Radiohead"],
        "No Members":[4, 4, 4, 5],
        "No Albums":[9, 12, 29 ,9]
    })
bandInfo

This dataframe was initialized with a dictonary of column headers as keys and column data as values.

Just as a series, a data frame has an index, which corresponds to the first column here. In this case the index was automatically generated, but as for the series, we could use explicit values for the index. 

We can access columns in a data frame, which returns a series:

In [ ]:
bandInfo["Name"]

In [ ]:
type(bandInfo["Name"])

And obviously, we can do all the things we've learned about to this column/series.

The previous example used columns to create the data frame. We can also create a data frame from rows. This doesn't make a ton of sense in this example, but data could be available like this from your data source, like if you're parsing a CSV.

In [ ]:
bandInfo2 = pd.DataFrame([
        {"Name":"Led Zeppelin", "No Albums":9, "No Members":4},
        {"Name":"The Beatles", "No Albums":12, "No Members":4},
        {"Name":"Rolling Stones", "No Albums":29, "No Members":4},
        {"Name":"Radiohead", "No Albums":9, "No Members":5},
    ])
bandInfo2

While a series has only one axis, a dataframe has two, one for the rows (the index or '0' axis), one for the columns (the column or '1' axis). We can check out these axes:

In [ ]:
bandInfo.axes

## Exploring Data Frames

You might have noticed that data frames are rendered in nice HTML tables within Jupyter Notebooks. For small data frames, just showing all the data makes sense, but for larger datasets, like our `hit_albums` dataset, plotting 70+ rows can be annoying, and for datasets with hundreds or thousands of rows it can be prohibitive. By default, a data frame only prints a limited number of elements (notice the `...` in row 5 of the output of `hit_albums` above – only the first 4 and last 4 are printed. 

When working with data, e.g., when transforming or loading a dataset, it is important to see the raw data, for example, to check if a transformation was done correctly. Often, however, it's sufficient to see a part of the data, e.g., the first couple of rows and/or the last couple of rows. We can do this with the `head()` and `tail()` function:

In [ ]:
# head shows the first 5 rows of a datset
hit_albums.head()

In [ ]:
# we can specify how much to show
hit_albums.head(8)

In [ ]:
# tail shows the last five rows in a datasaet
hit_albums.tail()

We can check out the dimensions of the data frame:

In [ ]:
hit_albums.shape

Here we learn that our dataset has 77 rows and 6 columns.

We can also get more info about the dataset using the info method, which is especially helpful to see the data types of the columns:

In [ ]:
hit_albums.info()

As for series, we can get a rough description of the numerical values of the dataset.

In [ ]:
hit_albums.describe()

We don't see any descriptions of the columns of non-numerical type. We can, however, get a summary by directly accessing a column:

In [ ]:
hit_albums["Artist"].describe()

Here we can see that Michael Jackson is the top artist in this list, with five albums. Are there other artists with multiple albums in the list? We can answer that question with the value_counts() method:

In [ ]:
hit_albums["Artist"].value_counts()

We can look at whether the numerical columns in our data frame are correlated using the [`corr()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html) method. By default, this calculates a Pearson correlation between the column, excluding NaN values. Not surprisingly, we see a rather strong correlation (0.81) between certified and claimed sales.

In [ ]:
hit_albums.corr(numeric_only=True)

We can also do transpose a dataframe:

In [ ]:
hit_albums.T

### Slicing Data Frames

A common task is to create subsets of a dataframe. Check out the official [user guide for more info on this](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).  

Column access/slicing works by directly using brackets `[]` on the data frame. Row access/slicing works by using the `.loc[]` indexer. 

We can explicitly define the the **column(s)** we want by their lables:

In [ ]:
# a single column
hit_albums["Artist"].head()

We can use an array of lables if we want multiple columns.

In [ ]:
# specifying multiple columns in an array
hit_albums = hit_albums[["Artist","Certified sales (millions)", "Claimed sales (millions)"]]
hit_albums.head()

Slicing of columns requires the `iloc` operator

This: 
```python
hit_albums["Artist":"Genre"]
```
Doesn't work.

One break with the convention that rows have to be accessed via `loc` or `iloc` is simple numerical slicing. The documentation claims that's for convenience, since this is so common:

In [ ]:
hit_albums[:3]

Using these access methods we can also update the order:

In [ ]:
hit_albums[["Certified sales (millions)", "Claimed sales (millions)", "Artist"]].head()

We can set a column to be the index:

In [ ]:
hit_albums_reindexed = hit_albums.set_index("Artist")
hit_albums_reindexed.head()

#### Slicing with `loc`

We can retrieve **rows** and columns using the `loc` indexer by name. Depending on whether the label is unique or not, we get either a series or a data frame. 

Generally, `loc` is preferred over direct access via brackets. 

The general syntax is

```
df.loc[rows, columnns]
```
Here rows, columns can be explicit labels, lists of labels, or slicing operators. 

Here's a simple example:

In [ ]:
hit_albums_reindexed.loc["Meat Loaf"]

And an example with multiple keys that returns a data frame:

In [ ]:
hit_albums_reindexed.loc["Michael Jackson"]

The second argument in the `loc` array can be used to access columns

In [ ]:
hit_albums_reindexed.loc["Michael Jackson", "Certified sales (millions)"]

Here is an example with a list of row labels.

In [ ]:
hit_albums_reindexed.loc[["Michael Jackson", "Meat Loaf"], "Certified sales (millions)"]

We can use slice operations. Remember, that slicing by label (`loc`) includes the last value, by index (`iloc`) does not. 


Note that this doesn't work if we use labels that have duplicates as indexers.

In [ ]:
hit_albums_reindexed.loc["Green Day":"Supertramp"]

# this wouldn't work
# hit_albums_reindexed.loc["Green Day":"Michael Jackson"]

This can also be combined with slicing columns:

In [ ]:
hit_albums_reindexed.loc["Green Day":"Supertramp", ["Certified sales (millions)"]]

We can also slice columns with loc. Let's re-load the full dataset first:

In [ ]:
full_hit_albums = pd.read_csv("hit_albums.csv")
full_hit_albums.head()

This creates a slice containing all rows and the columns from Artist to Released:

In [ ]:
full_hit_albums.loc[:,"Artist":"Released"]

Here's a slice for the first 10 rows and columns Artists to Released:

In [ ]:
full_hit_albums.loc[:10,"Artist":"Released"]

Here is the same thing using `iloc`, i.e., index based slicing:

In [ ]:
full_hit_albums.iloc[0:10, 0:3]

### Broadcasting

Of course, we can use broadcasting and filtering based on boolean masks just as we do for series.

Here we boradcast an operation on a series and set it to a new column.

In [ ]:
full_hit_albums["Certified sales"] =  full_hit_albums["Certified sales (millions)"] * 1000000
full_hit_albums.head()

Here we filter out all of the albums that were released before 1990.

In [ ]:
mask = full_hit_albums["Released"] > 1990
mask.head()

In [ ]:
full_hit_albums.loc[mask].head()

Or, short:

In [ ]:
full_hit_albums.loc[full_hit_albums["Released"] > 2000]

### Grouping Data Frames

Very often, we want to aggregate data. Given the hit-albums dataset, for example, we might want to ask how many albums each artist in that list has sold in total. We can do these aggregations using the [group-by method](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html). 

But first, let's take care of some NAN values by running [`fillna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) on it. We use forward fill along the columns, so that the certified sales are filled into the claimed sales if necessary.

In [ ]:
hit_albums = hit_albums.fillna(axis=1, method='ffill')
hit_albums

We can specify a column to group by, for example, "Artist". We can look at the groups created:

In [ ]:
grouped = hit_albums.groupby("Artist")
grouped.groups

Note that the keys map to a set of indices. For example, Michael Jackson's albums are found at indices [0, 10, 16, 65, 66].

Once we have created these groups, we can specify what to do with it.

Pandas has a couple of built in functions to make this easy. For example, we can just call `sum()`:

In [ ]:
grouped.sum().head(10)

We can see here that we've summed up the data for each column. However, note that NaN plus some number is still NaN, which is treated as 0 here. So let's work with a slice of the dataframe instead.

Now we sort them, and have a nice result:

In [ ]:
grouped.sum().sort_values("Certified sales (millions)", ascending=False).head()

An alternative is the `count` method.

In [ ]:
grouped.count().sort_values("Certified sales (millions)", ascending=False).head(10)

 A very generic solution is the `agg()` function, which we can pass a function to do things with the data:

In [ ]:
#here we pass the sum function, which calcualtes the sum of a list, to the group
grouped.agg(sum).head()

We can also pass in numpy functions.

In [ ]:
import numpy as np
grouped.agg(np.std).sort_values("Certified sales (millions)", ascending=False).head(20)

Here is an aggregation with an in-line function definition where we still create the sum, but also multiply by a million. We use a [lambda expression](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions) to define the function:

In [ ]:
grouped.agg(lambda rows : sum([cell * 1000000 for cell in rows])).head(10)

Lambda expressions are just a different way of defining a function in line, without assigning it a name. They only work for a single statement. 

Here is a simple lambda expression, which returns a function, which we assign to the variable add:

In [ ]:
add = lambda a, b : a+b

In [ ]:
add(2, 3)

So, let's take this apart: 

```python
[cell * 1000000 for cell in rows]
```

This part is a list comprehension, that takes an array `rows` and multiplies every element with 1,000,000. 

The surrounding `sum` is a call to the sum function, so adds up the values in the just modified array. 

And finally, the lambda expression packs all of this in a function. 

Here is a different, longer way to write this:

In [ ]:
def sumUpAndMultiplyByMillion(rows):
    multiplied_rows = [cell * 1000000 for cell in rows]
    summed_value = sum(multiplied_rows)
    return summed_value

grouped.agg(sumUpAndMultiplyByMillion).head(10)

### Exercise: Data Frames

* Calculate the mean certified sales for all albums.
* Create a new dataframe that only contains albums with more than 20 million certified sales.
* Create a new dataframe based on the hit_albums dataset that only contains the artists that have at least two albums in the list.
* Create a new dataframe that contains the aggregates sum of all certified sales for each year.

## Buit-in Plotting

Dataframes have built-in plotting capabilities based on the [matplotlib](http://matplotlib.org/) library. We'll see more about plotting later - here we'll only use the buit-in capabilities of pandas. 

First, we have to import the matplotlib library, and tell Jupyter to display the images directly here:

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
# This next line tells jupyter to render the images inline
%matplotlib inline

Then we can simply call the plot attribute:

In [ ]:
hit_albums.plot()

We can also selected certain columns using labelled indexes and then plot.

In [ ]:
hit_albums["Certified sales (millions)"].plot()

We can also use bar-charts instead of line-charts:

In [ ]:
hit_albums[["Certified sales (millions)", "Claimed sales (millions)"]].plot(kind="bar")

The default is a line chart. This doesn't make much sense, since it's mixing index of the row with sales. We're better off plotting only the two different sales figures.

A better way to compare certified and claimed sales is a scatterplot:

In [ ]:
hit_albums.plot.scatter(x="Certified sales (millions)", y="Claimed sales (millions)")

Or a histogram:

In [ ]:
hit_albums.plot.hist(bins=12, alpha=0.5)

We'll do more sophisticated plotting next time!

# Working with Dates

Pandas is pretty good at working with dates. When you initially load a dataset, chances are the date will be provided as a string:

In [ ]:
team = pd.DataFrame({
        "Name":["Joe Coder", "Roberta Hacker", "Ludmilla Designer", "Devin Opers"],
        "Years Experience":[4, 4, 4, 5],
        "Date Joined":["2022-11-03", "2023-04-01","2019-12-24" ,"2018-05-01"]
    })
team

In [ ]:
# show column data types
team.dtypes

The [`to_datetime()`](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) function lets you parse dates:

In [ ]:
team["Date Joined"] = pd.to_datetime(team["Date Joined"])
team

In [ ]:
team.dtypes

To access individual elements of a date, you can use the [`dt` fields](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html)

In [ ]:
team["month joined"] = team["Date Joined"].dt.month
team["quater joined"] = team["Date Joined"].dt.quarter
team