# Lecture 2: Exercises

## Exercise 1: Creating Cells, Executing Code

1. Create a new code cell below where you define variables containing your name, your age in years, and your major.
2. Create another cell that uses these variables and prints a concatenated string stating your name, major, and your age in years, months, and days (assuming today is your birthday ;)). The output should look like that:

```
Name: Science Cat, Major: Computer Science, Age: 94 years, or 1128 months, or 34310 days. 
```

## Exercise 2: Functions
Write a function that 
 * takes two numerical variables
 * multiplies them with each other
 * divides them by a numerical variable defined in the scope outside the function
 * and returns the result. 
 
Print the result of the function for three different sets of input variables.

In [ ]:
multiply_with_side_effect(2,4)

In [ ]:
multiply_with_side_effect(3,3)

In [ ]:
multiply_with_side_effect(9,9)

## Exercise 3: Data Types and Operators

**Task 3.1:** Try how capitalization affects string comparison, e.g., compare "datascience" to "Datascience".

**Task 3.2:** Try to compare floats using the `==` operator defined as expressions of integers, e.g., whether 1/3 is equal to 2/6. Does that work?

**Task 3.3:** Write an expression that compares the "floor" value of a float to an integer, e.g., compare the floor of 1/3 to 0. There are two ways to calculate a floor value: using `int()` and using `math.floor()`. Are they equal? What is the data type of the returned values?

## Exercise 4: Functions and If

Write a function that takes two integers. If either of the numbers can be divided by the other without a remainder, print the result of the division. If none of the numbers can divide the other one, print an error message.

## Exercise 5: Lists

* Create a list for the Rolling Stones: Mick, Keith, Charlie, Ronnie.
* Create a slice of that list that contains only members of the original lineup (Mick, Keith, Charlie). 
* Add the stones lists to the the bands list.

In [ ]:
# state of other notebook
beatles = ["Paul", "John", "George", "Ringo"]
zeppelin = ["Jimmy", "Robert", "John", "John"]
bands = [beatles, zeppelin]

## Exercise 6: While

Write a while loop that computes the sum of the 100 first positive integers. I.e., calculate

$1+2+3+4+5+...+100$

## Exercise 7: For

**Task 7.1:** Use a for loop to create an array that contains all even numbers in the range 0-50, i.e., an array: [2, 4, 6, ..., 48, 50]  

**Task 7.2:** Create a new array for the Beatles main instruments: Ringo played drums, George played lead guitar, John played rhythm guitar and Paul played bass. Assume that the array position associated the musician with his instrument. Use a for loop to print:

```
Paul: Bass
John: Rythm Guitar
George: Lead Guitar
Ringo: Drums
```

In [ ]:
beatles = ["Paul", "John", "George", "Ringo"]
instruments = ["Bass", "Rythm Guitar", "Lead Guitar", "Drums"]

## Exercise 8: Recursion

[Not covered in lecture]
Write a recursive function that calculates the factorial of a number.

## Exercise 9: List Comprehension

Write a list comprehension function that creates an array with the length of the words in the following sentence:

In [ ]:
sentence = "the quick brown fox jumps over the lazy dog"
word_list = sentence.split()
word_list