In [1]:
from vega_datasets import data
import altair as alt

### Excercise: Visualizing Gapminder Dataset

We will load `gapminder` dataset from `vega_datasets` and try to create different visualizations

In [8]:
gapminder = data.gapminder()
gapminder

     year      country  cluster       pop  life_expect  fertility
0    1955  Afghanistan        0   8891209       30.332     7.7000
1    1960  Afghanistan        0   9829450       31.997     7.7000
2    1965  Afghanistan        0  10997885       34.020     7.7000
3    1970  Afghanistan        0  12430623       36.088     7.7000
4    1975  Afghanistan        0  14132019       38.438     7.7000
..    ...          ...      ...       ...          ...        ...
688  1985    Venezuela        3  16997509       70.190     3.6485
689  1990    Venezuela        3  19325222       71.150     3.2500
690  1995    Venezuela        3  21555902       72.146     2.9415
691  2000    Venezuela        3  23542649       72.766     2.7230
692  2005    Venezuela        3  25375281       73.747     2.5470

[693 rows x 6 columns]

#### Task 1: Create a line chart of average population across years faceted by the continents

_Note: We will assume `cluter` represents the `continent`_

Use Vega-Altair to create the aggregates and faceting

#### Task 2: Create a scatterplot matrix for the year 2005.

We want to filter the dataset to keep the data for year 2005. Next we want to create a scatterplot matrix using the `pop`, `life_expect`, and `fertility` attributes. Use name of the country as the tooltip.

_Hint:_ Try to use Vega-Altair transforms to filter the data. Refer to the lecture notebook for SPLOM code

#### Task 3: Can you try to make a scatterplot matrix using `hconcat` and `vconcat` operators?