# Exercises for Lecture 4

## Exercise: List Comprehension: 

Write a  list comprehension expression that takes the list `numbers` and returns a list with `[True, False]` where `True` is given to positive values, and `False` is given to values of 0 or smaller.

In [1]:
# Your code
numbers = [-3, 2, 5, -9, 13, 19, 0] 

[True if x > 0 else False for x in numbers]

[False, True, True, False, True, True, False]

## Exercise: Pandas Series

Create a new pandas series with the lists given below that contain NFL team names and the number of Super Bowl titles they won. Use the names as indices, the wins as the data.

 * Once the list is created, sort the series alphabetically by index. 
 * Print an overview of the statistical properties of the series. What's the mean number of wins?
 * Filter out all teams that have won less than four Super Bowl titles
 * A football team has 45 players. Update the series so that instead of the number of titles, it reflects the number of Super Bowl rings given to the players. 
 * Assume that each ring costs USD 30,000. Update the series so that it contains a string of the dollar amount including the \$ sign. For the Steelers, for example, this would correspond to: 
 ```
 Pittsburgh Steelers             $ 8100000
 ```

In [2]:
import pandas as pd
teams = ["New England Patriots",
         "Pittsburgh Steelers",
         "Dallas Cowboys",
         "San Francisco 49ers",
         "Green Bay Packers",
         "New York Giants",
         "Denver Broncos",
         "Oakland/Los Angeles Raiders",
         "Washington Redskins",
         "Miami Dolphins",
         "Baltimore/Indianapolis Colts",
         "Baltimore Ravens"]
wins = [6,6,5,5,4,4,3,3,3,2,2,2]

In [3]:
winning_teams = pd.Series(wins, name="Superbowl-winning NFL Teams", index=teams)
winning_teams

New England Patriots            6
Pittsburgh Steelers             6
Dallas Cowboys                  5
San Francisco 49ers             5
Green Bay Packers               4
New York Giants                 4
Denver Broncos                  3
Oakland/Los Angeles Raiders     3
Washington Redskins             3
Miami Dolphins                  2
Baltimore/Indianapolis Colts    2
Baltimore Ravens                2
Name: Superbowl-winning NFL Teams, dtype: int64

In [4]:
winning_teams.sort_index()

Baltimore Ravens                2
Baltimore/Indianapolis Colts    2
Dallas Cowboys                  5
Denver Broncos                  3
Green Bay Packers               4
Miami Dolphins                  2
New England Patriots            6
New York Giants                 4
Oakland/Los Angeles Raiders     3
Pittsburgh Steelers             6
San Francisco 49ers             5
Washington Redskins             3
Name: Superbowl-winning NFL Teams, dtype: int64

In [5]:
winning_teams.describe()

count    12.000000
mean      3.750000
std       1.484771
min       2.000000
25%       2.750000
50%       3.500000
75%       5.000000
max       6.000000
Name: Superbowl-winning NFL Teams, dtype: float64

In [6]:
winning_teams[winning_teams > 3]

New England Patriots    6
Pittsburgh Steelers     6
Dallas Cowboys          5
San Francisco 49ers     5
Green Bay Packers       4
New York Giants         4
Name: Superbowl-winning NFL Teams, dtype: int64

In [7]:
rings = winning_teams * 45
rings

New England Patriots            270
Pittsburgh Steelers             270
Dallas Cowboys                  225
San Francisco 49ers             225
Green Bay Packers               180
New York Giants                 180
Denver Broncos                  135
Oakland/Los Angeles Raiders     135
Washington Redskins             135
Miami Dolphins                   90
Baltimore/Indianapolis Colts     90
Baltimore Ravens                 90
Name: Superbowl-winning NFL Teams, dtype: int64

https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html

In [8]:
def to_dollar(rings):
  return f"$ {rings * 30000}"

rings.map(to_dollar)

New England Patriots            $ 8100000
Pittsburgh Steelers             $ 8100000
Dallas Cowboys                  $ 6750000
San Francisco 49ers             $ 6750000
Green Bay Packers               $ 5400000
New York Giants                 $ 5400000
Denver Broncos                  $ 4050000
Oakland/Los Angeles Raiders     $ 4050000
Washington Redskins             $ 4050000
Miami Dolphins                  $ 2700000
Baltimore/Indianapolis Colts    $ 2700000
Baltimore Ravens                $ 2700000
Name: Superbowl-winning NFL Teams, dtype: object

In [9]:
# or with lambda
rings.map(lambda rings: f"$ {rings * 30000}")

New England Patriots            $ 8100000
Pittsburgh Steelers             $ 8100000
Dallas Cowboys                  $ 6750000
San Francisco 49ers             $ 6750000
Green Bay Packers               $ 5400000
New York Giants                 $ 5400000
Denver Broncos                  $ 4050000
Oakland/Los Angeles Raiders     $ 4050000
Washington Redskins             $ 4050000
Miami Dolphins                  $ 2700000
Baltimore/Indianapolis Colts    $ 2700000
Baltimore Ravens                $ 2700000
Name: Superbowl-winning NFL Teams, dtype: object

In [10]:
# or just  with broadcasting 
"$ " + (rings*30000).astype(str)

New England Patriots            $ 8100000
Pittsburgh Steelers             $ 8100000
Dallas Cowboys                  $ 6750000
San Francisco 49ers             $ 6750000
Green Bay Packers               $ 5400000
New York Giants                 $ 5400000
Denver Broncos                  $ 4050000
Oakland/Los Angeles Raiders     $ 4050000
Washington Redskins             $ 4050000
Miami Dolphins                  $ 2700000
Baltimore/Indianapolis Colts    $ 2700000
Baltimore Ravens                $ 2700000
Name: Superbowl-winning NFL Teams, dtype: object

In [11]:
# or, most elegantly, with the locale methods: 

import locale

locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
ring_values = rings * 30000

ring_values.map(locale.currency)

New England Patriots            $8100000.00
Pittsburgh Steelers             $8100000.00
Dallas Cowboys                  $6750000.00
San Francisco 49ers             $6750000.00
Green Bay Packers               $5400000.00
New York Giants                 $5400000.00
Denver Broncos                  $4050000.00
Oakland/Los Angeles Raiders     $4050000.00
Washington Redskins             $4050000.00
Miami Dolphins                  $2700000.00
Baltimore/Indianapolis Colts    $2700000.00
Baltimore Ravens                $2700000.00
Name: Superbowl-winning NFL Teams, dtype: object

In [12]:
# and if I want to also pass in a grouping argument, we have to use a lambda
ring_values.map(lambda x: locale.currency(x, grouping=True))

New England Patriots            $8,100,000.00
Pittsburgh Steelers             $8,100,000.00
Dallas Cowboys                  $6,750,000.00
San Francisco 49ers             $6,750,000.00
Green Bay Packers               $5,400,000.00
New York Giants                 $5,400,000.00
Denver Broncos                  $4,050,000.00
Oakland/Los Angeles Raiders     $4,050,000.00
Washington Redskins             $4,050,000.00
Miami Dolphins                  $2,700,000.00
Baltimore/Indianapolis Colts    $2,700,000.00
Baltimore Ravens                $2,700,000.00
Name: Superbowl-winning NFL Teams, dtype: object

In [13]:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

SyntaxError: invalid syntax (210856953.py, line 1)

In [ ]:
# or using the more sophisticaed apply method: 
ring_values.apply(locale.currency, grouping=True)

New England Patriots            $8,100,000.00
Pittsburgh Steelers             $8,100,000.00
Dallas Cowboys                  $6,750,000.00
San Francisco 49ers             $6,750,000.00
Green Bay Packers               $5,400,000.00
New York Giants                 $5,400,000.00
Denver Broncos                  $4,050,000.00
Oakland/Los Angeles Raiders     $4,050,000.00
Washington Redskins             $4,050,000.00
Miami Dolphins                  $2,700,000.00
Baltimore/Indianapolis Colts    $2,700,000.00
Baltimore Ravens                $2,700,000.00
Name: Superbowl-winning NFL Teams, dtype: object

## Exercise 2: Data Frames

* Calculate the mean certified sales for all albums.

In [ ]:
import pandas as pd
hit_albums = pd.read_csv("hit_albums.csv")

In [ ]:
hit_albums["Certified sales (millions)"].mean()

22.40909090909091

 * Create a new dataframe that only contains albums with more than 20 million certified sales.

In [ ]:
hit_albums[hit_albums["Certified sales (millions)"]>20]

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
1,AC/DC,Back in Black,1980,Hard rock,25.9,50.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, progressive rock",20.6,43.0
5,Eagles,Their Greatest Hits (1971–1975),1976,"Rock, soft rock, folk rock",32.2,42.0
7,Fleetwood Mac,Rumours,1977,Soft rock,27.9,40.0
8,Shania Twain,Come On Over,1997,"Country, pop",29.6,39.0
9,Led Zeppelin,Led Zeppelin IV,1971,"Hard rock, heavy metal",29.0,37.0
10,Michael Jackson,Bad,1987,"Pop, funk, rock",20.3,34.0
11,Alanis Morissette,Jagged Little Pill,1995,Alternative rock,24.8,33.0
12,Celine Dion,Falling into You,1996,"Pop, Soft rock",20.2,32.0
14,Eagles,Hotel California,1976,"Rock, soft rock, folk rock",21.5,32.0
19,The Beatles,1,2000,Rock,21.6,31.0
20,Adele,21,2011,"Pop, soul",22.3,30.0
29,Santana,Supernatural,1999,Rock,20.5,30.0
30,Guns N' Roses,Appetite for Destruction,1987,"Heavy metal, hard rock",21.3,30.0
31,ABBA,Gold: Greatest Hits,1992,Pop,29.0,NaN
32,Bon Jovi,Slippery When Wet,1986,Hard rock,28.0,NaN
33,Spice Girls,Spice,1996,Pop,28.0,NaN
34,Various artists,Grease: The Original Soundtrack from the Motio...,1978,Soundtrack,28.0,NaN
35,Britney Spears,...Baby One More Time,1999,Pop,28.0,NaN
36,Linkin Park,Hybrid Theory,2000,"Nu metal, rap metal, alternative metal",27.0,NaN
37,Bob Marley & The Wailers,Legend: The Best of Bob Marley & The Wailers,1984,Reggae,25.0,NaN
38,Carole King,Tapestry,1971,Pop,25.0,NaN
39,Madonna,Like a Virgin,1984,"Pop, dance",25.0,NaN
40,Madonna,True Blue,1986,Pop,25.0,NaN
41,Mariah Carey,Daydream,1995,"Pop, R&B",25.0,NaN
42,Norah Jones,Come Away with Me,2002,Jazz,25.0,NaN
43,Phil Collins,No Jacket Required,1985,"Pop, Rock",25.0,NaN
44,Queen,Greatest Hits,1981,Rock,25.0,NaN
45,Simon & Garfunkel,Bridge over Troubled Water,1970,Folk rock,25.0,NaN
46,U2,The Joshua Tree,1987,Rock,25.0,NaN
47,Whitney Houston,Whitney Houston,1985,"Pop, R&B",25.0,NaN
48,Backstreet Boys,Backstreet's Back / Backstreet Boys,1997,Pop,24.0,NaN
49,Backstreet Boys,Millennium,1999,Pop,24.0,NaN
50,Ace of Base,Happy Nation/The Sign,1993,Pop,23.0,NaN
51,TLC,CrazySexyCool,1994,"R&B, hip hop",23.0,NaN
52,Cyndi Lauper,She's So Unusual,1983,"New wave, pop rock, synthpop",22.0,NaN
53,Oasis,(What's the Story) Morning Glory?,1995,"Britpop, rock",22.0,NaN
54,Bon Jovi,Cross Road,1994,Hard rock,21.0,NaN
55,Eminem,The Marshall Mathers LP,2000,"Rap, hip-hop",21.0,NaN


 * Create a new dataframe based on the hit_albums dataset that only contains the artists that have at least two albums in the list.

In [ ]:
# create a series that has one row for each artist and true as value if they had more than one album, else false
double_hit_artist = hit_albums["Artist"].value_counts()>1
double_hit_artist.head(15)

Michael Jackson     True
Madonna             True
Shania Twain        True
The Beatles         True
Various artists     True
Bon Jovi            True
Pink Floyd          True
Whitney Houston     True
Backstreet Boys     True
Eagles              True
Britney Spears      True
Celine Dion         True
Mariah Carey        True
Adele               True
Eminem             False
Name: Artist, dtype: bool

In [ ]:
# create a mask of the same dimension as hit_albums that has true as value 
# if the artist is true in the double_hit_artist series
mask = hit_albums["Artist"].apply(lambda x: double_hit_artist[x])
mask.head()

0     True
1    False
2     True
3    False
4    False
Name: Artist, dtype: bool

In [ ]:
# apply the mask
hit_albums[mask]

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
5,Eagles,Their Greatest Hits (1971–1975),1976,"Rock, soft rock, folk rock",32.2,42.0
8,Shania Twain,Come On Over,1997,"Country, pop",29.6,39.0
10,Michael Jackson,Bad,1987,"Pop, funk, rock",20.3,34.0
12,Celine Dion,Falling into You,1996,"Pop, Soft rock",20.2,32.0
13,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,Rock,13.1,32.0
14,Eagles,Hotel California,1976,"Rock, soft rock, folk rock",21.5,32.0
15,Mariah Carey,Music Box,1993,"Pop, R&B, Rock",19.0,32.0
16,Michael Jackson,Dangerous,1991,"Rock, Funk, Pop",17.6,32.0
17,Various artists,Dirty Dancing,1987,"Pop, rock, R&B",17.9,32.0
18,Celine Dion,Let's Talk About Love,1997,"Pop, Soft rock",19.3,31.0
19,The Beatles,1,2000,Rock,21.6,31.0
20,Adele,21,2011,"Pop, soul",22.3,30.0
21,The Beatles,Abbey Road,1969,Rock,14.4,30.0
25,Madonna,The Immaculate Collection,1990,"Pop, Dance",19.4,30.0
28,Pink Floyd,The Wall,1979,Progressive rock,17.6,30.0
32,Bon Jovi,Slippery When Wet,1986,Hard rock,28.0,NaN
34,Various artists,Grease: The Original Soundtrack from the Motio...,1978,Soundtrack,28.0,NaN
35,Britney Spears,...Baby One More Time,1999,Pop,28.0,NaN
39,Madonna,Like a Virgin,1984,"Pop, dance",25.0,NaN
40,Madonna,True Blue,1986,Pop,25.0,NaN
41,Mariah Carey,Daydream,1995,"Pop, R&B",25.0,NaN
47,Whitney Houston,Whitney Houston,1985,"Pop, R&B",25.0,NaN
48,Backstreet Boys,Backstreet's Back / Backstreet Boys,1997,Pop,24.0,NaN
49,Backstreet Boys,Millennium,1999,Pop,24.0,NaN
54,Bon Jovi,Cross Road,1994,Hard rock,21.0,NaN
56,Adele,25,2015,"Soul, pop, R&B",20.0,NaN
59,Britney Spears,Oops!... I Did It Again,2000,Pop,20.0,NaN
65,Michael Jackson,"HIStory: Past, Present and Future, Book I",1995,"Pop, rock, R&B",20.0,NaN
66,Michael Jackson,Off the Wall,1979,"Soul, disco, R&B",20.0,NaN
68,Shania Twain,The Woman in Me,1995,"Country, pop",20.0,NaN
69,Shania Twain,Up!,2002,"Country, pop, world music",20.0,NaN
74,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,Soundtrack,20.0,NaN
75,Whitney Houston,Whitney,1987,"Pop, R&B",20.0,NaN

* Create a new dataframe that contains the aggregates sum of all certified sales for each year.

In [ ]:
# This step is somewhat optional - it cleans the result a bit
artists_sales = hit_albums[["Released","Certified sales (millions)"]]
# then we group by Artist, then sum the values up, then sort
years = artists_sales.groupby("Released").sum()
years

          Certified sales (millions)
Released
1967                            13.1
1969                            14.4
1970                            25.0
1971                            54.0
1973                            22.7
1976                            73.7
1977                            67.5
1978                            28.0
1979                            57.6
1980                            25.9
1981                            25.0
1982                            45.4
1983                            62.0
1984                           109.6
1985                            67.7
1986                            53.0
1987                           144.5
1988                            20.0
1990                            19.4
1991                            54.2
1992                            76.4
1993                            42.0
1994                            64.0
1995                           111.8
1996                            48.2
1997                            91.0
1999                            72.5
2000                            89.6
2001                            20.0
2002                            65.0
2004                            20.0
2011                            22.3
2015                            20.0